.polylinemeasure-ctrcontainerlink {
    font-size: 19px;
	font-weight: bold;
}

.polylinemeasure-ctrcontainer-on .polylinemeasure-ctrcontainerlink,
.polylinemeasure-ctrcontainer-on .polylinemeasure-ctrcontainerlink:hover {
    background-color: #8f8;
    box-shadow: 0 0 4px rgba(10,10,10,1.0);
}
    
.polylinemeasure-tooltip {
	font: 10px Arial, Helvetica, sans-serif;
    line-height: 10px;
	background-color: rgba(255, 255, 160, 0.7);
    border-radius: 3px;
	box-shadow: 1px 1px 4px #888;
	margin: 0;
	padding: 2px;
	width: auto !important;
	height: auto !important;
	white-space: nowrap;
}

.polylinemeasure-tooltip-total {
	color: #006;
    font-weight: bold;
}

.polylinemeasure-tooltip-difference {
	color: #060;
}